button
{
    width: 8%;
    background-color: red;
    color: white;
    padding: 14px 30px;
    margin: 8px 0;
    border: thin;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}